* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
color: black;
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}
div#cooler {
  position: relative;
  padding: 25px 15px 25px 15px;
  width: 90%;
  height: 150x;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  border: 1px solid black;
  top: 8px;
  color: black;
}
p {
  width: 80px;
  height: 20px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
  color: white;
  top: 0;
  right: 0;
}
#chicken {
  background-color: #A52A2A;
  position: absolute;
}
#beef {
  background-color: #DEB887;
  position: absolute;
}
#sushi {
  background-color: #5F9EA0;
  position: absolute;
}
section {
  clear: left;
}